Repository DIT112-V20/group-06, pull requests merged in 2020-05, with the labels that each got.

#46 Ci workflows
  .github/workflows/android-app.yml
  .github/workflows/arduino-sketch.yml
  README.md
  src/app/gradlew
Labels: sprint3

#47 Connectivity app
  src/app/.gitignore
  src/app/app/build.gradle
  src/app/app/src/main/AndroidManifest.xml
  src/app/app/src/main/java/com/example/djsmartcar/MainActivity.kt
  src/app/app/src/main/java/com/example/djsmartcar/activity/MainActivity.kt
  src/app/app/src/main/java/com/example/djsmartcar/backend/Endpoint.kt
  src/app/app/src/main/java/com/example/djsmartcar/backend/RetrofitClient.kt
  src/app/app/src/main/java/com/example/djsmartcar/model/Dance.kt
  src/app/app/src/main/res/layout/activity_main.xml
  src/app/app/src/main/res/values/strings.xml
Labels: high priority, sprint3, user story

#48 Connectivity car and bug fixing
  src/carLogic/carLogic.ino
Labels: high priority, sprint3, user story

#50 Create buttons for each of the dance moves
  src/app/app/src/main/java/com/example/djsmartcar/activity/MainActivity.kt
  src/app/app/src/main/java/com/example/djsmartcar/backend/Endpoint.kt
  src/app/app/src/main/java/com/example/djsmartcar/model/Dance.kt
  src/app/app/src/main/res/layout/activity_main.xml
  src/app/app/src/main/res/values/strings.xml
Labels: app, high priority, sprint4, user story

#53 Button color change
  src/app/app/src/main/java/com/example/djsmartcar/activity/MainActivity.kt
Labels: app, sprint4

#57 Dance bug fixes
  src/carLogic/carLogic.ino
Labels: bug, high priority, sprint4

#62 Add home button and functionality
  src/app/app/src/main/java/com/example/djsmartcar/activity/MainActivity.kt
  src/app/app/src/main/res/drawable-v24/home_button.png
  src/app/app/src/main/res/layout/activity_main.xml
  src/app/app/src/main/res/layout/home_page.xml
Labels: app, sprint4

#63 Update button visibility
  src/app/app/src/main/java/com/example/djsmartcar/activity/MainActivity.kt
  src/app/app/src/main/java/com/example/djsmartcar/backend/Endpoint.kt
  src/app/app/src/main/res/layout/activity_main.xml
Labels: app, high priority, sprint4

#68 Implement error messages
  src/app/app/src/main/java/com/example/djsmartcar/activity/MainActivity.kt
  src/app/app/src/main/res/layout/activity_main.xml
  src/app/app/src/main/res/values/strings.xml
Labels: app, sprint5

#70 Active buttons
  src/app/app/src/main/java/com/example/djsmartcar/activity/MainActivity.kt
  src/app/app/src/main/res/layout/activity_main.xml
Labels: app, sprint5

#72 Start & stop button functionality
  src/app/app/src/main/java/com/example/djsmartcar/activity/MainActivity.kt
  src/app/app/src/main/java/com/example/djsmartcar/backend/Endpoint.kt
Labels: app, high priority, sprint5

#73 Change random button to an image button
  src/app/app/src/main/java/com/example/djsmartcar/activity/MainActivity.kt
  src/app/app/src/main/res/drawable-v24/selectable_random_button.PNG
  src/app/app/src/main/res/drawable-v24/selected_random_button.PNG
  src/app/app/src/main/res/drawable/random_button.xml
  src/app/app/src/main/res/drawable/selected_random_button.xml
  src/app/app/src/main/res/layout/activity_main.xml
Labels: app, bug, sprint5

#74 Fix random button bug
  src/app/app/src/main/java/com/example/djsmartcar/activity/MainActivity.kt
Labels: app, bug, sprint5

#75 Fix home screen button bugs
  src/app/app/src/main/java/com/example/djsmartcar/activity/MainActivity.kt
Labels: app, bug, low priority, sprint5

#76 Obstacle avoidance
  .github/workflows/android-app.yml
  src/carLogic/carLogic.ino
Labels: bug, car, high priority, sprint5

#84 Playback screen
  src/app/app/src/main/java/com/example/djsmartcar/activity/PlayerActivity.kt
  src/app/app/src/main/res/drawable-v24/pause_snippet.png
  src/app/app/src/main/res/drawable-v24/play.png
  src/app/app/src/main/res/drawable-v24/play_snippet.png
  src/app/app/src/main/res/drawable-v24/stop_snippet.png
  src/app/app/src/main/res/drawable/pause.png
  src/app/app/src/main/res/layout/activity_player.xml
Labels: app, high priority, sprint5, user story

#96 Move SpotifyService
  src/app/app/src/main/java/com/example/djsmartcar/activity/MainActivity.kt
  src/app/app/src/main/java/com/example/djsmartcar/activity/PlayerActivity.kt
  src/app/app/src/main/java/com/example/djsmartcar/backend/SpotifyService.kt
Labels: app, bug

#98 Dance with music home button
  src/app/app/src/main/java/com/example/djsmartcar/activity/MainActivity.kt
  src/app/app/src/main/java/com/example/djsmartcar/activity/PlayerActivity.kt
  src/app/app/src/main/res/drawable-v24/stop_snippet.png
  src/app/app/src/main/res/layout/home_page.xml
Labels: app, bug, sprint5, user story

#100 Progress bar and Spotify connection error handling
  src/app/app/src/main/java/com/example/djsmartcar/activity/MainActivity.kt
  src/app/app/src/main/res/drawable/logo.png
  src/app/app/src/main/res/layout/activity_main.xml
  src/app/app/src/main/res/layout/activity_player.xml
  src/app/app/src/main/res/layout/home_page.xml
  src/app/app/src/main/res/values/strings.xml
Labels: app, bug, medium priority, sprint6, user story

#101 Spotify web api
  src/app/app/build.gradle
  src/app/app/src/main/java/com/example/djsmartcar/activity/MainActivity.kt
  src/app/app/src/main/java/com/example/djsmartcar/activity/PlayerActivity.kt
  src/app/app/src/main/java/com/example/djsmartcar/backend/Endpoint.kt
  src/app/app/src/main/java/com/example/djsmartcar/backend/RetrofitClient.kt
  src/app/app/src/main/java/com/example/djsmartcar/backend/SpotifyService.kt
  src/app/app/src/main/java/com/example/djsmartcar/model/AudioAnalysis.java
  src/app/app/src/main/java/com/example/djsmartcar/model/AuthToken.java
  src/app/app/src/main/java/com/example/djsmartcar/model/Meta.java
  src/app/app/src/main/java/com/example/djsmartcar/model/Track.java
  src/app/app/src/main/res/values/strings.xml
  src/app/build.gradle
  unknown.png
Labels: app, medium priority, sprint6

#103 App icon
  src/app/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  src/app/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  src/app/app/src/main/res/mipmap-hdpi/ic_launcher.png
  src/app/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  src/app/app/src/main/res/mipmap-mdpi/ic_launcher.png
  src/app/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  src/app/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  src/app/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  src/app/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  src/app/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  src/app/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  src/app/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
Labels: app, sprint6, user story

#106 Make dance button screen dynamic
  src/app/app/src/main/res/layout/activity_main.xml
  src/app/app/src/main/res/layout/home_page.xml
Labels: app, bug, high priority, sprint6

#105 Get current track id
  src/app/app/src/main/java/com/example/djsmartcar/activity/PlayerActivity.kt
  src/app/app/src/main/java/com/example/djsmartcar/backend/SpotifyService.kt
Labels: app, sprint6, user story

#107 Add user manual
  README.md
Labels: documentation, high priority, sprint6, user story

#110 Track info
  src/app/app/src/main/java/com/example/djsmartcar/activity/PlayerActivity.kt
  src/app/app/src/main/res/layout/activity_player.xml
  unknown.png
Labels: app, low priority, sprint6, user story

#115 Update README.md
  README.md
Labels: documentation, sprint6

#99 Dance loops and speed/delay parameters
  src/app/app/src/main/java/com/example/djsmartcar/activity/MainActivity.kt
  src/app/app/src/main/java/com/example/djsmartcar/activity/PlayerActivity.kt
  src/app/app/src/main/java/com/example/djsmartcar/backend/Endpoint.kt
  src/app/app/src/main/java/com/example/djsmartcar/backend/RetrofitClient.kt
  src/app/app/src/main/java/com/example/djsmartcar/model/Dance.kt
  src/carLogic/carLogic.ino
Labels: app, car, sprint5, user story

#116 Dance with tempo
  src/app/app/src/main/java/com/example/djsmartcar/activity/PlayerActivity.kt
  src/app/app/src/main/java/com/example/djsmartcar/backend/SpotifyService.kt
  src/app/app/src/main/java/com/example/djsmartcar/model/Dance.kt
Labels: app, sprint7, user story

#119 Update README.md
  README.md
Labels: documentation, sprint7

#118 Add comments and change default delay
  src/app/app/src/main/java/com/example/djsmartcar/activity/MainActivity.kt
  src/app/app/src/main/java/com/example/djsmartcar/activity/PlayerActivity.kt
  src/app/app/src/main/java/com/example/djsmartcar/backend/Endpoint.kt
  src/app/app/src/main/java/com/example/djsmartcar/backend/RetrofitClient.kt
  src/app/app/src/main/java/com/example/djsmartcar/backend/SpotifyService.kt
  src/app/app/src/main/java/com/example/djsmartcar/model/AudioAnalysis.java
  src/app/app/src/main/java/com/example/djsmartcar/model/AuthToken.java
  src/app/app/src/main/java/com/example/djsmartcar/model/Meta.java
  src/app/app/src/main/java/com/example/djsmartcar/model/Track.java
  src/carLogic/carLogic.ino
Labels: app, documentation, sprint7

#120 Add installation guide
  README.md
  src/carLogic/carLogic.ino
Labels: documentation, sprint7

#121 Add video demo link
  README.md
Labels: documentation, sprint7

#122 Add missing space
  README.md
Labels: documentation, sprint7
